name: CMake on a single platform

on:
  push:
    branches: [ "master", "Assignment2", "CI-gtest" ]
  pull_request:
    branches: [ "master", "Assignment2", "CI-gtest" ]

env:
  BUILD_TYPE: Debug
  # Define the ccache directory as an env variable
  CCACHE_DIR: ${{ github.workspace }}/.ccache

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Cache and install APT packages (doxygen, VTK)
      - name: Cache and install APT packages
        uses: tecolicom/actions-use-apt-tools@v1
        with:
          tools: libfmt9 doxygen libvtk9-dev
          cache: yes
          key: ${{ runner.os }}-apt-v2

      # Cache FetchContent downloads
      - name: Cache FetchContent
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/.fc
          key: ${{ runner.os }}-fc-${{ hashFiles('**/CMakeLists.txt','cmake/**','**/FetchContent_*.cmake') }}
          restore-keys: ${{ runner.os }}-fc-

      # Setup and cache ccache
      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          # Use the environment variable for the directory
          key: ${{ runner.os }}-ccache-${{ env.BUILD_TYPE }}-${{ github.sha }}
          restore-keys: ${{ runner.os }}-ccache-${{ env.BUILD_TYPE }}-

      # Cache the CMake build directory
      - name: Cache Build Directory
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/build
          key: ${{ runner.os }}-build-${{ env.BUILD_TYPE }}-${{ github.sha }}
          restore-keys: ${{ runner.os }}-build-${{ env.BUILD_TYPE }}-

      - name: Configure CMake
        run: >
          cmake -B ${{github.workspace}}/build
          -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
          -DCMAKE_C_COMPILER_LAUNCHER=ccache
          -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
          -DCMAKE_CXX_FLAGS="-fsanitize=address -g"
          -DBUILD_DOC=ON
          -DENABLE_VTK_OUTPUT=ON
          -DVTK_DIR=/usr/lib/x86_64-linux-gnu/cmake/vtk-9.1
          -DFETCHCONTENT_BASE_DIR=${{ github.workspace }}/.fc

      - name: Build
        run: |
          # Show ccache stats before the build
          ccache -s
          cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
          # Show ccache stats after the build to see the hit/miss ratio
          ccache -s

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ctest -C ${{env.BUILD_TYPE}} -V
