name: CMake on a single platform

on:
  push:
    branches: [ "master", "Assignment2", "CI-gtest" ]
  pull_request:
    branches: [ "master", "Assignment2", "CI-gtest" ]

env:
  BUILD_TYPE: Debug

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Install VTK and required deps on Ubuntu 24.04
      - name: Install APT packages
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            ccache libfmt9 doxygen \
            libvtk9-dev libvtk9.1t64 vtk9 \
            libtbb-dev liblzma-dev

      # Optional: cache FetchContent downloads
      - name: Cache FetchContent
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/.fc
          key: ${{ runner.os }}-fc-${{ hashFiles('**/CMakeLists.txt','cmake/**','**/FetchContent_*.cmake') }}
          restore-keys: ${{ runner.os }}-fc-

      - name: Configure CMake
        run: >
          cmake -S . -B ${{github.workspace}}/build
          -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
          -DCMAKE_C_COMPILER_LAUNCHER=ccache
          -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
          -DBUILD_DOC=ON
          -DENABLE_VTK_OUTPUT=ON
          -DFETCHCONTENT_BASE_DIR=${{ github.workspace }}/.fc
          -U "VTK_*"

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ctest -C ${{env.BUILD_TYPE}} -V
